body {
  background-color: #cccccc;
}

.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 240px;
  padding: 32px;
  background-color: #efefef;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  margin: 4px;
}

.btn:hover {
  background-color: #23272b;
  border-color: #1d2124;
}

.btn:focus {
  outline: 0;
  background-color: #23272b;
  border-color: #1d2124;
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

.range {
  margin: 4px;
}
